<h1><%= t( 'static_pages.about.about_page_header' ) %></h1>
<p><%= t( 'static_pages.about.about_page_desc' ) %></p>
<p><%= t( 'static_pages.about.about_page_desc2' ) %></p>

<nav >
	<li><%= image_tag("Blueberry.jpg", width: "200px",height: "200px") %></li>
	<li><%= image_tag("Shanghai_Cabbage.jpg", width: "200px",height: "200px") %></li>
	<li><%= image_tag("Chocolate.jpg", width: "200px",height: "200px") %></li>
	<li><%= image_tag("Dog_Food.jpg", width: "200px",height: "200px") %></li>
	
</nav>

<p>
		Have you made the right choice? Don't worry, but really be careful with a real dog.
</p>